.custom-btn {
    width: 40px;
    height: 40px;
    float:left;
}

.now-button-icon {
    width: 32px;
    height: 32px;
    padding:8px;
    cursor: pointer;
}

.write-button-icon {
    width: 32px;
    height: 32px;
    padding:8px;
    cursor: pointer;
}

/* ツールチップ */
/* https://www.w3schools.com/howto/howto_css_tooltip.asp */
.custom-btn {
    position: relative;
    display: inline-block;
}

.custom-btn .tooltip {
    visibility: hidden;
    width: 150px;
    background-color: rgba(24,26,32,0.9);
    color: #fff;
    text-align: center;
    padding: 1px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.1s;
}

.custom-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
